html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/groovepaper2.png");
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.main-container, .heading {
    max-width: 960px;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.myName {
    margin: 0;
    padding: 20px 25px;
    background-color: #1ba39c;
    color: #fff;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 27px 0px;
}

li {
    float: left;
    padding-right: 20px;
}

.nopad {
    padding-right: 0;
}

.nav-div {
    color: #939393;
}

a:link {
    text-decoration: none;
    color: #1ba39c;
}
a:visited {
    color: #1ba39c;
}
a:hover:not(.active) {
	color: #147974;
}


.main-section {
    padding: 20px;
}

.main-container {
    clear: both;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px;
}

.about-me {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    color: #1ba39c;
    border-bottom: 2px solid #ccc;
}

article {

}

.avatar {
    border-radius: 50%;
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.content {
    display: inline-block;
    /*float: left;*/
    padding-top: 20px;
}

.imagecontainer {
    width: 300px;
    height: 200px;
    float: left;
    position: relative;
    margin: 30px;
}

.tag {
    width: 300px;
    padding: 15px 0;
    float: left;
    position: absolute;
    bottom: 15px;
    background-color: #1ba39c;
    color: #fff;
    text-align: center;
}

.portimg {
    width: 300px;
    height: 200px;
}

/*.text-box {
    position: absolute;
    bottom: 20px;
    
    background-color: #1ba39c;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}*/



/*I can't for the life of me figure out how to get the form to strech to the max-width*/
form {
    /*white-space: pre-line;*/
    width: 100%;
    display: block;
}


input, textarea {
    font-size: 16px;
    width: 96%;
    padding: 10px 10px;
    margin: 20px 0;
}

textarea {
    height: 200px;
}

button {
    padding: 10px 25px;
    background-color: #1ba39c;
    color: #fff;
}

footer {
    background-color: #666;
    text-align: center;
    border-top: #1ba39c 6px solid;
    color: #a3a3a3;
    position: relative;
}

.footer, .push {
  height: 50px;
}

footer span {
    position: absolute;
    bottom: 0;
    font-size: small;
}