* {

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.main-container, .heading {
    width: 960px;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

div {

}

.myName {
    margin: 0;
    padding: 20px 25px;
    background-color: #5ebaad;
    color: #fff;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 27px 0px;
}

li {
    float: left;
    padding-right: 20px;
}

.nopad {
    padding-right: 0;
}

.nav-div {
    color: #ccc;
}

a:link {
    text-decoration: none;
    color: #5ebaad;
}
a:visited {
    color: #5ebaad;
}
a:hover {
    color: #49948a;
}

.sectioning {
    background-image: url("../images/groovepaper2.png");
    padding: 20px;
}

.main-container {
    clear: both;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px;
}

.about-me {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    color: #5ebaad;
    border-bottom: 2px solid #ccc;
}

article {

}

.avatar {
    border-radius: 50%;
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.content {
    display: inline-block;
    float: left;
    padding-top: 20px;
}


p {
   
}

footer {
    background-color: #666;
    text-align: center;
    border-top: #5ebaad 6px solid;
    padding: 20px;
    color: #fff;
}